<p-dialog header="Header" [visible]="true" [position]="'bottomright'" [style]="{ width: '20vw',height: '20vw' }"
          [dismissableMask]="true"
          [closeOnEscape]="true"
          [closable]="true">
  <video width="640" height="360" id="myVideo" preload="auto" loop controls autoplay>
    <source src="assets/video/fireplace.mp4" type="video/mp4">
  </video>
  <script>
    function playVideo() {
      var video = document.getElementById("myVideo");
      video.play();
    }
  </script>
</p-dialog>
<p-dialog header="Header" [visible]="true" [position]="'bottomleft'" [style]="{ width: '20vw',height: '20vw' }"
          [dismissableMask]="true"
          [closeOnEscape]="true"
          [closable]="true">
  <iframe src="https://giphy.com/embed/vexMhgUYTi6mQ" width="480" height="359" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="https://giphy.com/gifs/90s-retro-vexMhgUYTi6mQ">via GIPHY</a></p>
  <script>
    function playVideo() {
      var video = document.getElementById("myVideo");
      video.play();
    }
  </script>
</p-dialog>
<nav class="navbar navbar-light">
  <div class="container">
    <a class="navbar-brand" routerLink="/">conduit</a>

    <!-- Show this for logged out users -->
    <ul *appShowAuthed="false" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a class="nav-link" routerLink="/"> Home </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/login" routerLinkActive="active">
          Sign in
        </a>
      </li>

      <li class="nav-item">
        <p-dialog header="Header" [(visible)]="visible" [style]="{ backgroundColor: 'black', width: '50vw'}">
          <p style="color: red" (click)="visible= !visible" [routerLink]="['/register']">
            Click ici pour acceder
          </p>
        </p-dialog>
        <div class="nav-link" (click)="visible= !visible" routerLinkActive="active">
          Sign up
        </div>
      </li>
    </ul>

    <!-- Show this for logged in users -->
    <ul *appShowAuthed="true" class="nav navbar-nav pull-xs-right">
      <li class="nav-item">
        <a
          class="nav-link"
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }"
        >
          Home
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/editor" routerLinkActive="active">
          <i class="ion-compose"></i>&nbsp;New Article
        </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" routerLink="/settings" routerLinkActive="active">
          <i class="ion-gear-a"></i>&nbsp;Settings
        </a>
      </li>

      <li class="nav-item" *ngIf="currentUser$ | async as currentUser">
        <a
          class="nav-link"
          [routerLink]="['/profile', currentUser.username]"
          routerLinkActive="active"
        >
          <!-- pas de alt -->
          <img
            [src]="currentUser.image"
            *ngIf="currentUser.image"
            class="user-pic"
          />
          {{ currentUser.username }}
        </a>
      </li>
    </ul>
  </div>
</nav>
