<div class="article-preview">
  <app-article-meta [article]="article">
    <app-favorite-button
      [article]="article"
      (toggle)="toggleFavorite($event)"
      class="pull-xs-right"
    >
      {{ article.favoritesCount }}
    </app-favorite-button>
  </app-article-meta>


  <div (click)="showDialog()"  class="preview-link">
    <p-dialog header="Header" [(visible)]="visible" [style]="{width: '50vw'}">
      <p style="color: red" [routerLink]="['/article', article.slug]">
        Click ici pour acceder
      </p>
    </p-dialog>
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
    <ul class="tag-list">
      <li
        class="tag-default tag-pill tag-outline"
        *ngFor="let tag of article.tagList"
      >
        {{ tag }}
      </li>
    </ul>
  </div>
</div>
